<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
</head>
<body>

    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #D4B996;
            color: white;
            text-align: center;
            padding: 10px;
        }
    </style>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-5" style="background-color: #D4B996">
        <div class="container">
            <img class="rounded-circle me-3" width="80" height="80" src="https://img.freepik.com/premium-vector/pizza-logo-line-art-illustration-design-vector-creative-nature-minimalist-monoline-outline-linear-simple-modern_617249-24.jpg?w=740" />
            @Html.ActionLink("Real Pizza", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-start">
                <ul class="navbar-nav">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Menu", "Index", "Pizze", new { area = "" }, new { @class = "nav-link" })</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">@Html.ActionLink("Aggiungi Pizza", "Create", "Pizze", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                </ul>
            </div>
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li> <button class="nav-item BtnMdf me-2"> @Html.ActionLink("Accedi", "Authorize", "Users", new { area = "" }, new { @class = "nav-link" }) </button></li>
                        <li> <button class="nav-item BtnMdf">@Html.ActionLink("Registrati", "Create", "Users", new { area = "" }, new { @class = "nav-link" }) </button></li>
                    }
                    else
                    {
                        <li class="nav-item">
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (Session["BadgeCarrello"] != null && (int)Session["BadgeCarrello"] > 0)
                                {
                                    <button type="button" class="BtnMdf me-2 position-relative">
                                        @Html.ActionLink("Carrello", "Carrello", "Pizze", new { area = "" }, new { @class = "nav-link" })
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-danger">
                                            @Session["BadgeCarrello"]
                                        </span>
                                    </button>
                                }
                                else
                                {
                                    @Html.ActionLink("Carrello", "Carrello", "Pizze", new { area = "" }, new { @class = "nav-link BtnMdf me-2" })
                                }
                            }
                        </li>
                        <li class="nav-item">
                            <form action="@Url.Action("Logout", "Users")" method="post">
                                <button type="submit" class="BtnDlt">Logout</button>
                            </form>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        @if (TempData["LoginMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["LoginMessage"]
            </div>
        }

    </div>

    <div class="container">
        @if (TempData["LogoutMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["LogoutMessage"]
            </div>

        }

        @RenderBody()
    </div>

    <div class="card text-center position-static footer container-fluid" style="background-color: #D4B996">
        <div class="card-body">
            <h5 class="card-title"> RealPizza </h5>
            <p class="card-text">Il Meglio della Pizza</p>
            <p> @DateTime.Now.Day @DateTime.Now.Month @DateTime.Now.Year </p>
            <p> </p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(function () {

            $(".alert").delay(2500).fadeOut(500);
        });
    </script>
</body>
</html>
