@model RealPizza.Models.Pizze

@{
    ViewBag.Title = "Delete";
}

@if (TempData["Message"] != null)
{
    <div id="alertMessage" class="alert" role="alert" style="background-color: #d8943b">
        @TempData["Message"]
    </div>

    <script>
        // Funzione per nascondere automaticamente l'alert dopo un certo periodo di tempo
        window.setTimeout(function () {
            $("#alertMessage").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 1000); // L'alert scomparirà dopo 3 secondi (3000 millisecondi)
    </script>
}

<style>


    /* Stile per la pagina di eliminazione della pizza */
    .pizza-details {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        margin-block: 150px;
    }

        .pizza-details h3 {
            color: #333;
        }

        .pizza-details h4 {
            color: #555;
            margin-bottom: 10px;
        }

        .pizza-details dl {
            margin-top: 20px;
        }

        .pizza-details dt {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .pizza-details dd {
            margin-bottom: 10px;
        }

        .pizza-details .form-actions {
            margin-top: 20px;
        }

    /* Stile per il messaggio di successo */
    .alert-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
    }


</style>


<div class="pizza-details">
    <h3>Vuoi Veramente Elimanare questa Pizza dal Menu?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tempo_Consegna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tempo_Consegna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredienti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredienti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Immagine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Immagine)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Elimina" class="btn BtnDlt" />
        </div>
    }
</div>
