@model IEnumerable<RealPizza.Models.Pizze>

@{
    ViewBag.Title = "Index";
}


<link href="~/Content/Site.css" rel="stylesheet" />

@if (TempData["OrderConfirm"] != null)
{
    <div class="alert alert-dismissible fade show" role="alert" style="background-color: peru">
        @TempData["OrderConfirm"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["AddCart"] != null)
{
    <div class="alert alert-dismissible fade show" role="alert" style="background-color: peru">
        @TempData["AddCart"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="row row-cols-1 row-cols-md-3 g-4 mb-5 mt-3">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card shadow text-black product-card">
                <img src="@Html.DisplayFor(modelItem => item.Immagine)" class="card-img-top" alt="@item.Nome Image">
                <div class="card-body">
                    <h4 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h4>
                    <p class="card-text">
                        <span>Prezzo: € @Html.DisplayFor(modelItem => item.Prezzo)</span>
                        <br />
                        <span class="Tempo_Consegna">Consegna: @Html.DisplayFor(modelItem => item.Tempo_Consegna) Minuti</span>
                        <br />
                        <span>Ingredienti: @Html.DisplayFor(modelItem => item.Ingredienti)</span>
                    </p>
                </div>
                <div class="card-footer">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <button class="BtnAcq">
                            @Html.ActionLink("Acquista", "AddToCart", "Pizze", new { id = item.ID_Pizza }, null)
                        </button>
                    }

                    @if (User.IsInRole("Admin"))
                    {

                        <button class="BtnMdf mx-2">
                            @Html.ActionLink("Modifica", "Edit", new { id = item.ID_Pizza })
                        </button>



                        <button class="BtnDlt">
                            @Html.ActionLink("Elimina", "Delete", new { id = item.ID_Pizza })
                        </button>
                    }

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <button class="BtnMdf ">

                            @Html.ActionLink("Accedi", "Authorize", "Users", new { area = "" }, new { @class = "" })

                        </button>
                    }
                </div>
            </div>
        </div>
    }
</div>
<script>
    $(function () {

        $(".alert").delay(2500).fadeOut(500);
    });
</script>
