@model IEnumerable<RealPizza.Models.Pizze>

@{
    ViewBag.Title = "Index";
}



@if (TempData["Message"] != null)
{
    <div id="alertMessage" class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>

    <script>
        // Funzione per nascondere automaticamente l'alert dopo un certo periodo di tempo
        window.setTimeout(function () {
            $("#alertMessage").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 1000); // L'alert scomparirà dopo 3 secondi (3000 millisecondi)
    </script>
}
<link href="~/Content/Site.css" rel="stylesheet" />

<div class="overlay h-100"></div>

<div class="row row-cols-1 row-cols-md-3 g-4 mb-5 mt-3">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card shadow text-black product-card">
                <img src="@Html.DisplayFor(modelItem => item.Immagine)" class="card-img-top" alt="@item.Nome Image">
                <div class="card-body">
                    <h4 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h4>
                    <p class="card-text">
                        <span>Prezzo: € @Html.DisplayFor(modelItem => item.Prezzo)</span>
                        <br />
                        <span class="Tempo_Consegna">Consegna: @Html.DisplayFor(modelItem => item.Tempo_Consegna) Minuti</span>
                        <br />
                        <span>Ingredienti: @Html.DisplayFor(modelItem => item.Ingredienti)</span>
                    </p>
                </div>
                <div class="card-footer">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <button class="BtnAcq">
                            @Html.ActionLink("Acquista", "AddToCart", "Pizze", new { id = item.ID_Pizza }, null)
                        </button>
                    }

                    @if (User.IsInRole("Admin"))
                    {

                        <button class="BtnMdf">
                            @Html.ActionLink("Modifica", "Edit", new { id = item.ID_Pizza })
                        </button>

                        <button class="BtnDlt">
                            @Html.ActionLink("Elimina", "Delete", new { id = item.ID_Pizza })
                        </button>
                    }
                    @if (!User.Identity.IsAuthenticated)
                    {
                       <button  class="button2">@Html.ActionLink("Accedi", "Authorize", "Users", new { area = "" }, new { @class = "nav-link" })</button>
                    }
                </div>
            </div>
        </div>
    }
</div>
